*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  background-color: rgb(57, 57, 128);
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#title {
  margin-top: 100px;
  margin-bottom: 1.2em;
}

.input-section {
  display: flex;
}
main > p {
  text-align: start;
  font-size: 1.2rem;
  display: flex;
  flex-direction: initial;
  justify-content: start;
  margin-bottom: 0.5rem;
  float: left;
}
/* #price-label {
  margin: 10px auto;
} */

#item-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: auto;
  padding: 0 5px;
  font-size: 1.2em;
}
#item-detail > p {
  font-size: 1.2em;
}
#input-section {
  margin: 15px 0;
}
#input-cash {
  padding: 0.5rem;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#purchase-btn {
  /* margin-left: 2px; */
  padding: 0.5rem;
  font-size: 1.2em;
  cursor: pointer;
  background-color: lightskyblue;
  border: 1px solid lightskyblue;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#purchase-btn:hover {
  background-color: skyblue;
  color: black;
}

#change-due {
  margin: 1.25em 0;
  font-size: 1.1em;
}
.cash-in-draw {
  border: 1px solid lightskyblue;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: lightskyblue;
}
#cash-in-draw-list {
  background-color: black;
  color: white;
  padding: 0.5em;
}
#keyboard-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4px;
  width: 100px;
  height: 100px;
}
#keyboard-container > div {
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#cash-in-draw-list {
  list-style: none;
}
h3 {
  text-align: center;
  list-style: upper-alpha;
  margin-bottom: 5px;
  color: blue;
  text-decoration: underline;
  text-decoration-color: brown;
}
#total-cid {
  margin-top: 1em;
  width: 100%;
  border: 2px solid lightskyblue;
  padding: 0.5em;
  background-color: lightskyblue;
  text-align: center;
  border-radius: 15px;
}
#total-cid-span {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}
